<HTML>
<HEAD>
    <TITLE></TITLE>
</HEAD>
<BODY bgcolor="CadetBlue">
    <h1 align="center">Video Game Database</h1>
    <h2 align="center">Add New Game</h2>
    <form align="center" method = "get" action="http://cpsc.umw.edu:35056/adding">
 
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"/>
        <br>
 
        <label for="rating">Rating:</label>
        <input type="text" id="rating" name="rating"/>
        <br>
 
        <label for="avgLength">Average Length:</label>
        <input type="text" id="avgLength" name="length"/>
        <br>
 
        <label for="developer">Developer:</label>
        <input type="text" id="developer" name="developer"/>
        <br>

        <label for="releaseDate">Release Date:</label>
        <input type="text" id="releaseDate" name="releaseDate"/>
        <br>
 
        <label for="headquarters">Headquarters City:</label>
        <input type="text" id="headquarters" name="headquarters"/>
        <br>

        <input type="submit" value="Add new game!"/>
    </form>

</BODY>
</HTML>             
